[submodule "Vendors/FDSQLiteDatabase"]
	path = Vendors/FDSQLiteDatabase
	url = git@github.com:reidmain/FDSQLiteDatabase.git
[submodule "Vendors/FDDataClient"]
	path = Vendors/FDDataClient
	url = git@github.com:reidmain/FDDataClient.git
[submodule "Vendors/FDKeychain"]
	path = Vendors/FDKeychain
	url = git@github.com:reidmain/FDKeychain.git
